table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
  }
   
  td, th,#titel,#author{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #admin{

    font-family: arial, sans-serif;
    text-align: center;

  }
  #container2{

    text-align: center;
  }
h1{
  font-family: arial, sans-serif;
    text-align: center;

}
#container3{
  height: 600px;
 

}
#create-pun-form{

  

  display: grid;
  width: 89%;
  margin: 0 auto;
  grid-auto-rows: 1fr;
  column-gap: 2%;
  row-gap: 20px;
  height: 600px;
  
  grid-template-columns: repeat(12, 1fr);
}


#titel{

  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;

}
#author{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
  
}#content-textarea{

  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 10;
  
}#submit{
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 10;
  grid-row-end: 11;
  
}
  #select{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 11;
    grid-row-end: 12;

  }
#skapalänk{
  text-align: center;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 12;
  grid-row-end: 13;
  
}
